<!DOCTYPE html>
<html>
<head>
	<title>Accueil administrateur</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin/accueilAdmin.css">
	<% include ../header %>
</head>
<body>
	<!-- Wrap -->
	<div id="wrap">
		<!-- Navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
		  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    			<span class="sr-only">Toggle navigation</span>
		    			<span class="icon-bar"></span>
		    			<span class="icon-bar"></span>
		    			<span class="icon-bar"></span>
		  			</button>
		  			<a class="navbar-brand" href="/admin/accueil">In'English</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  			<ul class="nav navbar-nav navbar-left">
		  				<li class="active"><a href="/admin/accueil">Accueil <span class="sr-only">(current)</span></a></li>
		    			<li><a href="/admin/lesson">Nouvelle leçon</a></li>
		    			<li><a href="/admin/exercice">Nouvel exercice</a></li>
		    			<li><a href="/admin/edit">Editer</a></li>
		  			</ul>
		      		<a href="/logoutAdmin"><button type="button" class="btn btn-danger navbar-btn navbar-right" style="margin-right: 10px;">Déconnexion</button></a>
				</div>
			</div>
		</nav>
		<!-- End navbar -->

		<!-- Content -->
		<div class="container">
			<br>
			<div class="row">
				<div class="col-md-12">
					<h2>Bienvenue sur In'English !</h2>
					<hr class="hr">
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p>Cette partie de l'application correspond à l'administration du site. En effet, vous pouvez depuis l'interface administrateur ajoutez de nouvelles leçons et de nouveaux exercices. Vous pouvez également éditer les leçons créées en les modifiants ou en les supprimants. Pour ajouter de nouvelles leçons, rendez-vous sur la rubrique « Nouvelle leçon ». Pour ajouter de nouveaux exercices, rendez-vous sur la rubrique « Nouvel exercice ». Enfin pour éditer vos leçons, rendez-vous sur la rubrique « Editer ».</p>
				</div>
			</div>
			<br>

			<div class="row">
				<div class="col-md-12">
					<p class="bg-danger text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Attention, l'élève ne doit en aucun cas posséder un compte administrateur !</p>
				</div>				
			</div>
			<br><br>

			<div class="row">
				<div class="col-md-12">
					<h2>Commencez dès maintenant !</h2>
				</div>
			</div>
			<hr class="hr">
			<br>

			<div class="row">
				<div class="col-md-4">
					<button type="button" class="btn btn-success btn-lg btn-block" onclick="document.location.href='/admin/lesson'">Nouvelle leçon</button>
				</div>
				<div class="col-md-4">
					<button type="button" class="btn btn-success btn-lg btn-block" onclick="document.location.href='/admin/exercice'">Nouvel exercice</button>
				</div>
				<div class="col-md-4">
					<button type="button" class="btn btn-success btn-lg btn-block" onclick="document.location.href='/admin/edit'">Editer</button>
				</div>
			</div>
		</div>
		<!-- End Content -->
	</div>
	<!-- End wrap -->

	<!-- footer -->
	<footer id="footer">
    	<div class="container">
        	<p class="text-muted credit">© 2017 - Créé par Yoan Habib - Étudiant à IN'TECH Sud-Ouest.</p>
      	</div>
    </footer>
    <!-- End footer -->
</body>
</html>