<!DOCTYPE html>
<html>
<head>
	<title>Accueil administrateur</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin/lessonAdmin.css">
	<% include ../header %>
	<script src="/ckeditor/ckeditor.js"></script>
	<script src="/ckeditor/adapters/jquery.js"></script>
</head>
<body>
	<!-- Wrap -->
	<div id="wrap">
		<!-- Navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
		  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    			<span class="sr-only">Toggle navigation</span>
		    			<span class="icon-bar"></span>
		    			<span class="icon-bar"></span>
		    			<span class="icon-bar"></span>
		  			</button>
		  			<a class="navbar-brand" href="/admin/accueil">In'English</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  			<ul class="nav navbar-nav navbar-left">
		  				<li><a href="/admin/accueil">Accueil <span class="sr-only">(current)</span></a></li>
		    			<li class="active"><a href="/admin/lesson">Nouvelle leçon</a></li>
		    			<li><a href="/admin/exercice">Nouvel exercice</a></li>
		    			<li><a href="/admin/edit">Editer</a></li>
		  			</ul>
		      		<a href="/logoutAdmin"><button type="button" class="btn btn-danger navbar-btn navbar-right" style="margin-right: 10px;">Déconnexion</button></a>
		      		<button type="button" class="btn btn-success navbar-btn navbar-right" id="addRule">+</button>
				</div>
			</div>
		</nav>
		<!-- End navbar -->

		<!-- Content -->
		<div class="container" id="container">
			<br>
			<div class="row">
				<div class="col-md-11">
					<h2>Création d'une nouvelle leçon</h2>
					<hr class="hr">
				</div>
			</div>

			<form id="addLesson" class="form-horizontal" action="/admin/lesson" method="post">
  				<div class="form-group" id="number">
    				<div class="col-md-2">
      					<input type="text" class="form-control" id="numLesson" name="num" placeholder="N°" pattern="[0-9]+" required>
    				</div>
    				<div class="col-md-10" id="title">
      					<input type="text" class="form-control" name="title" placeholder="Titre de la leçon" required>
    				</div>
  				</div>

  				<div class="form-group" id="rule">
  					<div class="col-md-12">
 						<textarea id="ruleEditor1" class="ckeditor" name="rule1" required></textarea>		
  					</div>
  				</div>

  				<div class="row">
  					<div class="col-md-offset-10 col-md-2">
  						<input type="submit" class="btn btn-success btn-block" value="Valider">
  					</div>
  				</div>
			</form>
		</div>
		<!-- End Content -->
	</div>
	<!-- End wrap -->

	<!-- footer -->
	<footer id="footer">
    	<div class="container">
        	<p class="text-muted credit">© 2017 - Créé par Yoan Habib - Étudiant à IN'TECH Sud-Ouest.</p>
      	</div>
    </footer>
    <!-- End footer -->

    <script src="/javascripts/lessonAdmin.js"></script>
    <% include  ../modals/modalExistLesson %>
</body>
</html>