<div id="modalLesson" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
  			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal">&times;</button>
    			<h4 class="modal-title">Confirmation</h4>
  			</div>
  			<div class="modal-body">
   				<p>La leçon a bien été ajoutée.</p>
  			</div>
		</div>
	</div>
</div>
